<div id="hidden-pictures"></div>

<div class="main container-fluid">
    <div class="home-page row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 img-and-pointer">
            <span class="pulse"><img id="pointer" src="../assets/img/point2.png"></span>
            <img class="img-responsive personal-photo" id="photos" src="../assets/img/myself-transparent.png" alt="personal photo">
        </div>

        <div class="home-text text-center col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <p class="codeup"><a href="http://www.codeup.com" target="_blank">Codeup</a> graduate</p><hr>
            <p>Full stack software developer</p><hr>
            <p>Background in music theory, teaching, and administration</p>
        </div>
    </div>
</div>

